*.js
!jest.config.js
*.d.ts
node_modules

# CDK Context & Staging files
cdk.context.json
.cdk.staging/
cdk.out/
*.tabl.json

# VSCode 
.vscode

# Local state files & OS specifics
.DS_Store

package-lock.json